@import "tailwindcss";

@import "./theme.css";
@import "./typography.css";

* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}